html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-image: url('https://th.bing.com/th/id/R.a80ebc1bd49eabfa02862d44c45b6c4b?rik=J20LNPjRgRP8tw&pid=ImgRaw&r=0');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
}

header {
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 350px;
  margin-bottom: 400px;
}

header h1 {
  font-size: 100px;
  margin: 0;
}

#Logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
  height: auto;
  border-radius: 5px;
}

#Questionnaire {
  color : white;
  position: fixed;
  top: 35px;
  left: 100px;
  transition: font-size 0.25s;
}

#Questionnaire:hover {
  font-size: 1.2em; /* Taille de la police agrandie */
}

.Icônes {
  width: 80px;
  transition: width 0.25s;
}

.Icônes:hover {
  width: 100px;
}

main {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

section {
  margin-bottom: 50px;
  margin-left: 15%;
  margin-right: 15%;
}

section h2 {
  color: #FF2929;
  margin-bottom: -15px;
  text-decoration: underline;
}

section h3 {
  margin-bottom: -15px;
  color: #0070C0;
  text-decoration: underline;
}

.sommaire {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
}

.texte p {
  text-align: justify;
}

.quizizz h2 {
  margin-bottom: 0px;
}

.custom-audio {
  width: 100%;
}

.custom-audio::-webkit-media-controls-panel {
  display: flex;
  justify-content: space-between;
  background-color: rgb(218 220 199);
  padding: 5px;
  border-radius: 10px;
}

.custom-audio::-webkit-media-controls-play-button {
  background-color: rgb(186 197 183);
  color: white;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.3s;
}

.custom-audio::-webkit-media-controls-play-button:hover {
  background-color: rgb(141 157 156);
  transform: scale(1.10);
}

.custom-audio::-webkit-media-controls-volume-slider {
  width: 70px;
}

.custom-audio::-webkit-media-controls-timeline {
  width: calc(100% - 70px);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
